<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <% if get_columns(params).include?("code") %>
                <th width='15%' class="text-left"><%= t('.code') %></th>
            <% end %>
            <% if get_columns(params).include?("name") %>
                <th><%= t('.name') %></th>
            <% end %>
            <% if get_columns(params).include?("email") %>
                <th><%= t('.email') %></th>
            <% end %>
            <% if get_columns(params).include?("user_group") %>
                <th><%= t('.user_group') %></th>
            <% end %>
            <% if get_columns(params).include?("department") %>
                <th><%= t('.department') %></th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th><%= t('created_at') %></th>
            <% end %>
            <% if (can? :delete, Erp::User) %>
                <th width="7%"><%= t('actions') %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr class="odd gradeX has-child-table" data-url="<%= erp.employees_backend_users_path(id: user.id) %>">
                <% if get_columns(params).include?("code") %>                    
                    <td width='15%' class="text-left">
                        <i class="fa fa-plus expand tr-expand-button"></i>
                        <% if can? :edit, user %>
                            <%= link_to "#" + user.employee_code, erp.edit_backend_user_path(user) %>
                        <% else %>
                            <%= "#" + user.employee_code %>
                        <% end %>
                    </td>
                <% end %>
                <% if get_columns(params).include?("name") %>
                    <td><%= user.name %></td>
                <% end %>
                <% if get_columns(params).include?("email") %>
                    <td><%= user.email %></td>
                <% end %>
                <% if get_columns(params).include?("user_group") %>
                    <td><%= user.user_group_name %></td>
                <% end %>
                <% if get_columns(params).include?("department") %>
                    <td><%= user.department_name %></td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="center"><%= user.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <% if (can? :edit, user) || (can? :delete, user) %>
                <td>
                    <%
                        actions = []
                        actions << {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp.edit_backend_user_path(user)
                            } if can? :edit, user
                        actions << {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                href: erp.backend_user_path(user),
                                data_method: 'DELETE',
                                data_confirm: t('.delete_confirm'),
                                class: 'ajax-link'
                            } if can? :delete, user
                    %>                            
                    <%= erp_datalist_row_actions(actions) %>
                </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @users.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@users) %>
