<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("code") %>
                <th>
                    <%= t('.code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @employees.each do |employee| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: employee.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to employee.code, erp.edit_backend_employee_path(employee) %></td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td class="center"><%= employee.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                href: erp.edit_backend_employee_path(employee)
                            },                            
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                href: erp.backend_employee_path(employee),
                                data_method: 'DELETE',
                                data_confirm: t('.delete_confirm'),
                                class: 'ajax-link'
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @employees.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>

<%= erp_datalist_pagination(@employees) %>
